
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 17%;
  left: 26%;
  z-index: 1;
}

.main_bg {
  height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  content: "";
  background: fixed;
  background-size: cover;
  opacity: 0.8;
}

.flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#해설칸 {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}
#해설글{
  font-size: 18px;
}

.font_highlight {
  font-weight: 700;
  margin-bottom: 20px;
  animation: bounce 0.5s infinite alternate; /* 애니메이션 적용 */
  /* 다른 스타일들 */
  background: linear-gradient(
      128.93deg,
      rgb(226, 212, 19) 22.41%,
      rgb(228, 236, 153) 93.45%
    )
    text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.card {
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 색상 투명도 조절 */
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.font_highlight {
  font-size: 2rem;
  margin-bottom: 20px;
}
.horizon {
  border-top: 2px solid #fff;
  margin: 20px auto;
  width: 50%;
}
#해설글 {
  color: rgb(255, 94, 0);
  font-size: 1.2rem;
  line-height: 1.6;
}
